main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 500px;
}

.hero > div > div {
  max-width: 500px;
  text-align: left;
}

.hero h2 {
  margin-top: -0.5em;
}

.hero h1 {
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  color: #008934;
  font-size: 3.375rem;
  font-weight: 600;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero a:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: #001e60;
  background-color: #59cbe8;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
  font-size: 1.125rem
}